---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/header/Header.astro";
import Main from "@/components/main/Main.astro";

import { getLessons, type Lesson } from "@/utils";

const lessons = getLessons();
---

<Layout title={"home"}>
    <Header />
    <Main>
        <ol>
            {
                lessons.map(function (l: Lesson) {
                    return (
                        <li>
                            <a href={l.url}>{l.title}</a>
                        </li>
                    );
                })
            }
        </ol>
    </Main>
</Layout>
